@{
    ViewData["Title"] = "Loan-Calculation";
}

<!-- Loan Calculation -->
<div class="loan-section">
    <!-- Container -->
    <div class="container">
        <form action="#">
            <!-- row -->
            <div class="row calculator-loan">
                <!-- col -->
                <div class="col-lg-7 col-12 wow fadeInLeft">
                    <div class="loan-calculation-wrapper">
                        <div class="theme-title">
                            <h2>Check loan status, interest &amp; Installment.</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum justo ante, auctor at sodales facilisis, tempus vitae sapien. </p>
                            <div class="loan-filter-form">
                                <div class="thirty form">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /col -->
                <!-- Col -->
                <div class="col-lg-5 col-12 wow fadeInRight">
                    <div class="loan-confirm-form">
                        <div class="thirty">
                            <div class="results clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- /col -->
            </div>
            <!-- /row -->
        </form>
    </div>
    <!-- /Container -->
</div>
<!-- /Loan Calculation -->